@use "variables" as *;

img.single {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

img.w60 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

img.left {
    float:left;
    width: 48%;
}
img.right {
    float:right;
    width: 48%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 30px;
    margin: auto;

    img {
        max-width: 100%;
    }
}

figure.single img {
    width: 85%;
}

figure.w60 img {
    width: 60%;
}

figure.image-pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    img {
        width: calc(50% - 8px);
        max-width: 400px;
    }

    figcaption {
        width: 100%;
    }
}

figcaption {
    font-style: normal;
    font-size: $small-font-size;
    text-align: center;
    color: var(--color-text-secondary);
    margin-top: 8px;
}
